Package: libnuma1-dbgsym
Source: numactl
Version: 2.0.12-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ian Wienand <ianw@debian.org>
Installed-Size: 47
Depends: libnuma1 (= 2.0.12-2)
Breaks: libnuma-dbg (<< 2.0.11-2.1~)
Replaces: libnuma-dbg (<< 2.0.11-2.1~)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libnuma1
Build-Ids: b18bddc6037ae7355b0cf8f83f2deba99202781a
